mixin footer
  footer.bg-primary.text-light.overflow-auto.mt-auto.bg-gradient
    .container.my-3.justify-content-center.justify-content-sm-between.d-flex.flex-wrap.flex-sm-nowrap.text-center.text-sm-start
      p.mb-0 © Website design Justin Muirhead 2022 under the BSD-3-Clause License
      p.text-sm-end.text-center © Website content Te Kura 2022
  script(src="../js/main.js", type="module")
