mixin footer
  footer.bg-primary.text-light.overflow-auto.mt-auto.bg-gradient
    .container.my-3.nav.justify-content-between
      p © Website design Justin Muirhead 2022 under the BSD-3-Clause License
      p.text-end © Website content Te Kura 2022
