doctype html 
html(lang="en")
  include ../includes/head.pug
  +head("Home | What Lies Beneath", "What Lies Beneath | an exhibition of photographic composite works that challenge the perceptions of reality.", "../img/studio2.jpg", true, "index", "Picture of an exhibition hall.")
  body
    include ../includes/header.pug
    include ../includes/footer.pug
