doctype html 
html(lang="en")
  include ../includes/head.pug
  +head("Home | What Lies Beneath", "What Lies Beneath | an exhibition of photographic composite works that challenge the perceptions of reality.", "../img/studio2.jpg", true, "index", "Picture of an exhibition hall.")
  body.min-vh-100.d-flex.flex-column
    include ../includes/header.pug
    +header("index")
    .container.my-3
      p Et qui reiciendis laudantium quae accusantium occaecati inventore. Dolorum numquam ea nihil enim et vel. Totam et quia aut porro. Id ea in unde asperiores necessitatibus facilis temporibus.

      p Odio totam voluptate labore eos voluptatem vel fugit. Ipsum commodi ea repudiandae voluptatem harum quasi ut. Voluptatibus blanditiis asperiores in et nesciunt doloremque sunt.

      p Est hic laudantium corrupti qui perspiciatis qui totam. Unde molestiae omnis aspernatur. Aut eos aut repellat facilis necessitatibus aspernatur iste.

      p Ut quis ipsa velit vel sunt veniam. Doloremque autem esse enim est qui. Et officiis aut temporibus. Occaecati ut labore consequatur aut nesciunt. Molestiae at at minus eius exercitationem inventore aut ipsum.

      p Assumenda et sit nesciunt quia expedita occaecati vitae. Veniam vitae et adipisci possimus similique. Itaque excepturi reiciendis sint repellendus. Non voluptatum sint odit explicabo.
  .vh-100

  include ../includes/footer.pug
  +footer
