doctype html 
html(lang="en")
  include ../includes/head.pug
  +head("Home | What Lies Beneath", "What Lies Beneath | an exhibition of photographic composite works that challenge the perceptions of reality.", "../img/studio2.jpg", true, "index", "Picture of an exhibition hall.")
  body.min-vh-100.d-flex.flex-column
    include ../includes/header.pug
    +header("index")
    .container.my-3
      h1 What Lies Beneath
      p An exhibition of photographic composite works that challenge the perceptions of reality.
      p As a traveling exhibition, 'What Lies Beneath' is an inspirational showcase of altered reality coming to a town near you. Find a location close to you from the list below, and mark the date and place in your diary. You won't be disappointed when you immerse yourself in the fantastical, creative works of the exhibiting artists: Jack Pott, Kay Oss, Barry D. Hatchett and Anita Room.
      .d-flex.flex-wrap
        // The following classes make the sponsorship information go from being two-columned on desktop
        // to inline above the table on mobile. This ensure the sponsorship information is still displayed
        // prominently on mobile, being above the table rather than below.
        .justify-content-center.d-flex.flex-wrap.col-12.col-sm-6.order-2.order-sm-1.pe-0.pe-sm-3
          h2.text-center Exhibition Information
          table.table
            tbody
              tr 
                // The class .pe-3 adds padding after each table data in the first column for aesthetics and spacing (C.R.A.P.).
                td.pe-3
                  h5 Paihia
                  p.mb-1 Visions and Variety
                  p.mb-1 24B Ascension Place
                  p.mb-1 Paihia
                  p Tuesday 5 January - Friday 29 January
                td 
                  h5 Mapua
                  p.mb-1 Essence of Designs
                  p.mb-1 63 Tinakori Street
                  p.mb-1 Mapua
                  p Monday 12 April - Friday 30 April
              tr 
                td.pe-3 
                  h5 Leamington
                  p.mb-1 The Artisans Club
                  p.mb-1 6 Rusty Road
                  p.mb-1 Warkworth
                  p Monday 8 February - Tuesday 2 March
                td 
                  h5 Harihari
                  p.mb-1 Clay and Paper
                  p.mb-1 17 Cedar Grove
                  p.mb-1 Harihari
                  p Thursday 6 May - Tuesday 1 June
              tr 
                td.pe-3 
                  h5 Sanson
                  p.mb-1 Art & Design House
                  p.mb-1 12 Toa Road
                  p.mb-1 Sanson
                  p Wednesday 10 March - Wednesday 7 April
                td
                  h5 Temuka
                  p.mb-1 Creative Tales
                  p.mb-1 365 Rewa Drive
                  p.mb-1 Temuka
                  p Tuesday 8 June - Thursday 1 July
        // Sponsor information is displayed prominently by using a two column design and reordering using css-flex features.
        .d-flex.col-12.col-sm-6.order-1.order-sm-2
          p 'What Lies Beneath' is proudly sponsored by Quicksticks Sporting Goods, Umpteen Treasures and Spinfluence.
  include ../includes/footer.pug
  +footer
