doctype html 
html(lang="en")
  include ../includes/head.pug
  +head("Home | What Lies Beneath", "What Lies Beneath | an exhibition of photographic composite works that challenge the perceptions of reality.", "../img/studio2.jpg", true, "index", "Picture of an exhibition hall.")
  body.min-vh-100.d-flex.flex-column
    include ../includes/header.pug
    +header("index")
    .container.my-3
      h1 What Lies Beneath
      p An exhibition of photographic composite works that challenge the perceptions of reality.
      p As a travelling exhibition, 'What Lies Beneath' is an inspirational showcase of altered reality coming to a town near you. Find a location close to you from the list below, and mark the date and place in your diary. You won't be disappointed when you immerse yourself in the fantastical, creative works of the exhibiting artists: Jack Pott, Kay Oss, Barry D. Hatchett and Anita Room.
      h2 Exhibition Information

      p Paihia
      p Visions and Variety
      p 24B Ascension Place
      p Paihia
      p Tuesday 5 January - Friday 29 January

      p Leamington
      p The Artisans Club
      p 6 Rusty Road
      p Warkworth
      p Monday 8 February - Tuesday 2 March

      p Sanson
      p Art & Design House
      p 12 Toa Road
      p Sanson
      p Wednesday 10 March - Wednesday 7 April

      p Mapua
      p Essence of Designs
      p 63 Tinakori Street
      p Mapua
      p Monday 12 April - Friday 30 April

      p Harihari
      p Clay and Paper
      p 17 Cedar Grove
      p Harihari
      p Thursday 6 May - Tuesday 1 June

      p Temuka
      p Creative Tales
      p 365 Rewa Drive
      p Temuka
      p Tuesday 8 June - Thursday 1 July

  include ../includes/footer.pug
  +footer
