doctype html 
html(lang="en")
  include ../includes/head.pug
  +head("Updates | What Lies Beneath", "What Lies Beneath | an exhibition of photographic composite works that challenge the perceptions of reality.", "../img/studio2.jpg", true, "index", "Picture of an exhibition hall.")
  body.min-vh-100.d-flex.flex-column
    include ../includes/header.pug
    +header("subscribe")
    .container.my-3
      p text stuff

    include ../includes/footer.pug
    +footer
